---
import Container from "@/components/Container.astro"
import Layout from "../layouts/layout.astro"
import Card from "@/components/card.astro"
---

<style>
  .text-stroke {
    -webkit-text-stroke: 1px #9c9c9c;
  }
</style>

<Layout>
  <section
    class="relative flex h-screen w-full flex-col items-center justify-center"
  >
    <!-- gradient parallax -->
    <!-- when title gradient change, also change this -->
    <div
      class="absolute -z-10 flex h-screen min-w-full flex-col justify-between overflow-clip"
    >
      <div
        id="radial-gradient-1"
        class="-mt-[10%] -ml-[16%] h-[76vw] w-[76vw] -translate-y-full self-start rounded-full bg-gradient-radial from-blue-500/30 to-transparent opacity-0 blur-3xl filter"
      >
      </div>
      <div
        id="radial-gradient-2"
        class="-mb-[10%] -mr-[16%] h-[76vw] w-[76vw] translate-y-full self-end rounded-full bg-gradient-radial from-blue-500/30 to-transparent opacity-0 blur-3xl filter"
      >
      </div>
    </div>

    <main class="flex flex-col text-center">
      <div class="-space-y-10 md:-space-y-20">
        <div
          class="hero-texts flex translate-y-12 flex-col -space-y-14 opacity-0"
        >
          <p
            class="z-10 bg-gradient-to-r from-[#363494] to-[#30C4D8] bg-clip-text pb-2 text-7xl font-bold text-transparent transition duration-1000 md:text-8xl"
          >
            Imagino,
          </p>
          <p
            class="text-stroke text-7xl font-bold text-transparent md:text-8xl"
          >
            Imagino,
          </p>
          <p
            class="text-stroke text-7xl font-bold text-transparent md:text-8xl"
          >
            Imagino,
          </p>
        </div>
        <div
          class="hero-texts flex translate-y-12 flex-col -space-y-14 opacity-0"
        >
          <p
            class="z-10 text-7xl font-bold transition duration-1000 md:text-8xl"
          >
            Diseño,
          </p>
          <p
            class="text-stroke text-7xl font-bold text-transparent md:text-8xl"
          >
            Diseño,
          </p>
          <p
            class="text-stroke text-7xl font-bold text-transparent md:text-8xl"
          >
            Diseño,
          </p>
        </div>
        <div
          class="hero-texts flex translate-y-12 flex-col -space-y-14 opacity-0"
        >
          <p
            class="z-10 text-7xl font-bold transition duration-1000 md:text-8xl"
          >
            Realizo.
          </p>
          <p
            class="text-stroke text-7xl font-bold text-transparent md:text-8xl"
          >
            Realizo.
          </p>
          <p
            class="text-stroke text-7xl font-bold text-transparent md:text-8xl"
          >
            Realizo.
          </p>
        </div>
      </div>
      <div class="py-5"></div>
      <p class="text-base text-neutral-400 md:text-lg">
        I imagine, design, realize.
      </p>
      <div class="py-7"></div>
      <div class="flex flex-row items-center justify-center gap-x-6">
        <a
          href="/#about"
          class="rounded-lg bg-neutral-100 px-6 py-2 text-sm font-semibold text-neutral-800 md:px-8 md:py-2.5 md:text-lg"
          >About me</a
        >
        <a
          href="https://github.com/sujang958"
          target="_blank"
          class="rounded-lg bg-neutral-800 px-6 py-2 text-sm font-medium text-neutral-100 md:px-8 md:py-2.5 md:text-lg"
          >Github</a
        >
      </div>
    </main>
  </section>

  <section class="flex flex-col items-center" id="about">
    <div
      class="flex h-[78vh] w-full max-w-5xl flex-col items-center justify-center gap-y-2 py-24 text-center"
    >
      <img
        src="/images/hapwy.webp"
        alt="Happy Happy Happy Happy"
        class="w-72 object-contain"
        width="300"
        height="300"
      />
      <p
        class="bg-gradient-to-b from-white to-neutral-700 bg-clip-text pb-2 text-6xl font-extrabold tracking-tight text-transparent md:text-7xl"
      >
        Let me introduce myself
      </p>
      <p
        class="w-3/4 whitespace-normal py-6 text-base leading-normal text-neutral-400 md:text-lg"
      >
        Hello, I'm Songhun Cho, a developer and designer based in South Korea. I
        am currently a student and have been coding since 2017. I'm not only
        interested in front-end development and UI/UX design, but also web
        hacking and reverse engineering but I'm not that good at it.
      </p>
      <div class="py-2"></div>
      <a
        href="#project"
        class="rounded-lg bg-neutral-100 px-6 py-2.5 text-sm font-semibold text-black"
        >See projects</a
      >
    </div>
  </section>

  <Container class="min-h-screen py-32" id="project">
    <header class="flex flex-col items-center py-12 text-center">
      <div class="mb-8 border-l border-neutral-900 py-6"></div>
      <p
        class="bg-gradient-to-r from-violet-900 to-purple-700 bg-clip-text text-xl font-semibold text-transparent"
      >
        Projects
      </p>
      <div class="py-5"></div>
      <p class="px-4 text-5xl font-bold">Made with ❤️ and Batteries included</p>
      <div class="py-5"></div>
      <div
        class="w-3/4 text-base leading-normal text-neutral-500 md:w-1/2 md:text-lg"
      >
        I love creating products with simple & intuitive UI/UX. These are some
        things I've worked on.
      </div>
    </header>
    <Card title="Diato" description="To-dos organized by day of the week" />
  </Container>
</Layout>

<script>
  import gsap from "gsap"
  import { Back } from "gsap"
  import { CustomEase } from "gsap/all"

  gsap.registerPlugin(CustomEase)

  const radialGradient1 = document.getElementById("radial-gradient-1")
  const radialGradient2 = document.getElementById("radial-gradient-2")

  const heroTexts = document.querySelectorAll(".hero-texts")

  /*ease: CustomEase.create(
      "custom",
      "M0,0 C0,0 0.245,-0.051 0.434,0.118 0.512,0.188 0.584,0.735 0.636,0.838 0.77,1.104 1,1 1,1 "
    ), */

  gsap.to(radialGradient1, {
    y: 0,
    opacity: 1,
    duration: 0.7,
  })
  gsap.to(radialGradient2, {
    y: 0,
    opacity: 1,
    duration: 0.7,
  })

  heroTexts.forEach((heroTextContainer, i) => {
    gsap.to(heroTextContainer, {
      opacity: 1,
      y: 0,
      duration: 1,
      delay: i * 0.2,
      ease: Back.easeOut.config(1.1),
    })
  })
</script>
