---
// @ts-expect-error
import Layout from "../layouts/layout.astro"
---

<style>
  .text-stroke {
    -webkit-text-stroke: 1px #9c9c9c;
  }
</style>

<Layout>
  <section
    class="h-screen flex flex-col items-center justify-center w-full relative"
  >
    <!-- gradient parallax -->
    <!-- when title gradient change, also change this -->
    <div
      class="-z-10 absolute h-screen max-w-full w-full flex flex-col justify-between overflow-clip "
    >
      <div
        data-speed="0.2"
        class="parallax-item self-start -mt-[10%] -ml-[16%] w-[80vw] h-[80vw] bg-gradient-radial from-blue-500/30 to-transparent rounded-full filter blur-3xl"
      >
      </div>
      <div
        data-speed="0.5"
        class="parallax-item self-end -mb-[10%] -mr-[16%] w-[80vw] h-[80vw] bg-gradient-radial from-blue-500/30 to-transparent rounded-full filter blur-3xl"
      >
      </div>
    </div>

    <main class="flex flex-col text-center">
      <div class="-space-y-20">
        <div data-speed="0.22" class="parallax-item flex flex-col -space-y-14">
          <p
            data-speed="0.1"
            class="parallax-item text-8xl font-bold z-10 bg-clip-text text-transparent bg-gradient-to-r from-[#363494] to-[#30C4D8] pb-2"
          >
            Imagino,
          </p>
          <p
            data-speed="0.05"
            class="parallax-item text-8xl font-bold text-transparent text-stroke"
          >
            Imagino,
          </p>
          <p
            data-speed="0.01"
            class="parallax-item text-8xl font-bold text-transparent text-stroke"
          >
            Imagino,
          </p>
        </div>
        <div data-speed="0.125" class="parallax-item flex flex-col -space-y-14">
          <p data-speed="0.1" class="parallax-item text-8xl font-bold z-10">
            Diseño,
          </p>
          <p
            data-speed="0.05"
            class="parallax-item text-8xl font-bold text-transparent text-stroke"
          >
            Diseño,
          </p>
          <p
            data-speed="0.01"
            class="parallax-item text-8xl font-bold text-transparent text-stroke"
          >
            Diseño,
          </p>
        </div>
        <div data-speed="0.075" class="parallax-item flex flex-col -space-y-14">
          <p data-speed="0.1" class="parallax-item text-8xl font-bold z-10">
            Realizo.
          </p>
          <p
            data-speed="0.05"
            class="parallax-item text-8xl font-bold text-transparent text-stroke"
          >
            Realizo.
          </p>
          <p
            data-speed="0.01"
            class="parallax-item text-8xl font-bold text-transparent text-stroke"
          >
            Realizo.
          </p>
        </div>
      </div>
      <div class="py-5"></div>
      <p class="text-lg text-neutral-400">I imagine, design, realize.</p>
      <div class="py-7"></div>
      <div class="flex flex-row items-center justify-center gap-x-6">
        <a
          href="/#about"
          class="bg-neutral-100 text-neutral-800 rounded-lg px-8 py-2.5 font-semibold text-lg"
          >About me</a
        >
        <a
          href="https://github.com/sujang958"
          target="_blank"
          class="text-neutral-100 bg-neutral-800 rounded-lg px-8 py-2.5 font-medium text-lg"
          >Github</a
        >
      </div>
    </main>
  </section>

  <section class="flex flex-col items-center" id="about">
    <div
      class="w-full max-w-5xl h-[50vh] flex flex-col items-center justify-center text-center py-20"
    >
      <img
        src="/images/hapy.gif"
        alt="Happy Happy Happy Happy"
        class="object-contain"
      />
      <p
        class="text-6xl font-extrabold bg-clip-text bg-gradient-to-b from-white to-neutral-700 text-transparent"
      >
        Let me introduce myself.
      </p>
      <div class="py-4"></div>
      <p class="text-base text-neutral-400 whitespace-normal w-3/4">
        Hello, I'm Songhun Cho, a developer and designer based in South Korea. I
        am currently a student and have been coding since 2017. I'm not only
        interested in front-end development and UI/UX design, but also web
        hacking and reverse engineering but I'm not that good at it.
      </p>
    </div>
  </section>
</Layout>

<script>
  import gsap from "gsap"
  import ScrollTrigger from "gsap/ScrollTrigger"

  gsap.registerPlugin(ScrollTrigger)

  gsap.to(".parallax-item", {
    scrollTrigger: {
      scrub: true,
    },
    y: (i, target) => -ScrollTrigger.maxScroll(window) * target.dataset.speed,
    ease: "none",
  })
</script>
