---
// @ts-expect-error
import Container from "@/components/Container.astro"
// @ts-expect-error
import Layout from "../layouts/layout.astro"
import Card from "@/components/card.astro"
---

<style>
  .text-stroke {
    -webkit-text-stroke: 1px #9c9c9c;
  }
</style>

<Layout>
  <section
    class="h-screen flex flex-col items-center justify-center w-full relative"
  >
    <!-- gradient parallax -->
    <!-- when title gradient change, also change this -->
    <div
      class="-z-10 absolute h-screen min-w-full flex flex-col justify-between overflow-clip"
    >
      <div
        id="radial-gradient-1"
        class="self-start -mt-[10%] -ml-[16%] w-[76vw] h-[76vw] bg-gradient-radial from-blue-500/30 to-transparent rounded-full filter blur-3xl opacity-0 -translate-y-full"
      >
      </div>
      <div
        id="radial-gradient-2"
        class="self-end -mb-[10%] -mr-[16%] w-[76vw] h-[76vw] bg-gradient-radial from-blue-500/30 to-transparent rounded-full filter blur-3xl opacity-0 translate-y-full"
      >
      </div>
    </div>

    <main class="flex flex-col text-center">
      <div class="-space-y-10 md:-space-y-20">
        <div
          class="hero-texts flex flex-col -space-y-14 opacity-0 translate-y-12"
        >
          <p
            class="duration-1000 transition text-7xl md:text-8xl font-bold z-10 bg-clip-text text-transparent bg-gradient-to-r from-[#363494] to-[#30C4D8] pb-2"
          >
            Imagino,
          </p>
          <p
            class="text-7xl md:text-8xl font-bold text-transparent text-stroke"
          >
            Imagino,
          </p>
          <p
            class="text-7xl md:text-8xl font-bold text-transparent text-stroke"
          >
            Imagino,
          </p>
        </div>
        <div
          class="hero-texts flex flex-col -space-y-14 opacity-0 translate-y-12"
        >
          <p
            class="duration-1000 transition text-7xl md:text-8xl font-bold z-10"
          >
            Diseño,
          </p>
          <p
            class="text-7xl md:text-8xl font-bold text-transparent text-stroke"
          >
            Diseño,
          </p>
          <p
            class="text-7xl md:text-8xl font-bold text-transparent text-stroke"
          >
            Diseño,
          </p>
        </div>
        <div
          class="hero-texts flex flex-col -space-y-14 opacity-0 translate-y-12"
        >
          <p
            class="duration-1000 transition text-7xl md:text-8xl font-bold z-10"
          >
            Realizo.
          </p>
          <p
            class="text-7xl md:text-8xl font-bold text-transparent text-stroke"
          >
            Realizo.
          </p>
          <p
            class="text-7xl md:text-8xl font-bold text-transparent text-stroke"
          >
            Realizo.
          </p>
        </div>
      </div>
      <div class="py-5"></div>
      <p class="text-base md:text-lg text-neutral-400">
        I imagine, design, realize.
      </p>
      <div class="py-7"></div>
      <div class="flex flex-row items-center justify-center gap-x-6">
        <a
          href="/#about"
          class="bg-neutral-100 text-neutral-800 rounded-lg px-6 md:px-8 py-2 md:py-2.5 font-semibold text-sm md:text-lg"
          >About me</a
        >
        <a
          href="https://github.com/sujang958"
          target="_blank"
          class="text-neutral-100 bg-neutral-800 rounded-lg px-6 md:px-8 py-2 md:py-2.5 font-medium text-sm md:text-lg"
          >Github</a
        >
      </div>
    </main>
  </section>

  <section class="flex flex-col items-center" id="about">
    <div
      class="w-full max-w-5xl h-[78vh] flex flex-col items-center justify-center text-center py-24 gap-y-2"
    >
      <img
        src="/images/hapy.gif"
        alt="Happy Happy Happy Happy"
        class="object-contain"
      />
      <p
        class="text-6xl md:text-7xl font-extrabold bg-clip-text bg-gradient-to-b from-white to-neutral-700 text-transparent pb-1 relative"
      >
        Let me introduce myself

        <!-- <img
          src="/images/dot-grid.png"
          alt=""
          data-speed="0.06"
          class="w-24 md:w-50 object-contain absolute -top-1/3 -right-16 -z-10"
        />
        <img
          src="/images/icing.png"
          alt=""
          data-speed="0.01"
          class="w-24 md:w-50 object-contain absolute -top-full -left-20 -z-10"
        /> -->
      </p>
      <p
        class="text-base md:text-lg leading-normal text-neutral-400 whitespace-normal w-3/4 py-6"
      >
        Hello, I'm Songhun Cho, a developer and designer based in South Korea. I
        am currently a student and have been coding since 2017. I'm not only
        interested in front-end development and UI/UX design, but also web
        hacking and reverse engineering but I'm not that good at it.
      </p>
      <div class="py-2"></div>
      <a
        href="#project"
        class="bg-neutral-100 text-black rounded-lg px-6 py-2.5 font-semibold text-sm"
        >See projects</a
      >
    </div>
  </section>

  <Container class="min-h-screen py-32" id="project">
    <header class="py-12 text-center flex flex-col items-center">
      <div class="py-6 mb-8 border-l border-neutral-900"></div>
      <p
        class="text-transparent bg-clip-text bg-gradient-to-r from-violet-900 to-purple-700 font-semibold text-xl"
      >
        Projects
      </p>
      <div class="py-5"></div>
      <p class="text-5xl font-bold">Made with ❤️ and Batteries included</p>
      <div class="py-5"></div>
      <div
        class="w-3/4 md:w-1/2 text-base md:text-lg text-neutral-500 leading-normal"
      >
        I love creating products with simple & intuitive UI/UX. These are some
        things I've worked on.
      </div>
    </header>
    <Card title="Diato" description="To-dos organized by day of the week" />
  </Container>
</Layout>

<script>
  import gsap from "gsap"
  import { Back } from "gsap"
  import { CustomEase } from "gsap/all"

  gsap.registerPlugin(CustomEase)

  const radialGradient1 = document.getElementById("radial-gradient-1")
  const radialGradient2 = document.getElementById("radial-gradient-2")

  const heroTexts = document.querySelectorAll(".hero-texts")

  /*ease: CustomEase.create(
      "custom",
      "M0,0 C0,0 0.245,-0.051 0.434,0.118 0.512,0.188 0.584,0.735 0.636,0.838 0.77,1.104 1,1 1,1 "
    ), */

  gsap.to(radialGradient1, {
    y: 0,
    opacity: 1,
    duration: 0.7,
  })
  gsap.to(radialGradient2, {
    y: 0,
    opacity: 1,
    duration: 0.7,
  })

  heroTexts.forEach((heroTextContainer, i) => {
    gsap.to(heroTextContainer, {
      opacity: 1,
      y: 0,
      duration: 1,
      delay: i * 0.2,
      ease: Back.easeOut.config(1.1),
    })
  })
</script>
