---
import Layout from "@/layouts/Layout.astro"
---

<Layout>
  <section class="flex h-screen flex-col items-center">
    <p class="text-4xl font-semibold">I code and design,</p>
  </section>
</Layout>
