---
import Layout from "@/layouts/Layout.astro"
---

<Layout>
  <section
    class="relative flex h-[70vh] flex-col items-center justify-center overflow-clip p-24"
  >
    <div
      class="absolute right-[-18%] top-[-50%] rounded-full bg-white p-16 sm:p-20 md:p-40 xl:p-64 opacity-50 blur-[256px]"
    >
      &nbsp;l
    </div>

    <p class="text-center text-5xl font-semibold leading-tight">
      I Code and Design,<br />And I Write some things.
    </p>
    <p
      class="mt-10 max-w-[35rem] text-balance text-center text-base text-neutral-400"
    >
      Hello, I'm SongHun Cho and this is my personal portfolio website. I'm into
      web development, algorithmns, and much more. I also design my projects
      like websites or some.
    </p>
  </section>
</Layout>
