---
import Section from "@/components/Section.astro"
import Intro from "@/components/sections/Intro.svelte"
import Layout from "@/layouts/layout.astro"
---

<Layout>
  <script>
    import gsap from "gsap"

    const heroTexts = document.querySelectorAll(".hero-text")
    const projectContainers = document.querySelectorAll(".project-container ")

    heroTexts.forEach((element, i) => {
      gsap.to(element, {
        opacity: 1,
        y: 0,
        delay: 0.25 * i,
        duration: 1,
        ease: "expo.out",
      })
    })

    projectContainers.forEach((element, i) => {
      gsap.fromTo(
        element,
        { y: 64, opacity: 0 },
        { y: 0, opacity: 1, duration: 1, delay: 0.2 * i },
      )
    })

    gsap.to("#s1-description", { opacity: 1, delay: 0.25 * heroTexts.length })
  </script>

  <section
    class="relative flex min-h-screen flex-col items-center justify-center overflow-visible p-12 md:p-24"
  >
    <div
      class="absolute right-[-15%] top-[-48%] rounded-full bg-white p-16 opacity-50 blur-[256px] sm:p-20 md:p-40 xl:p-64"
    >
      &nbsp;
    </div>

    <div
      class="absolute bottom-[-50%] left-[-30%] rounded-full bg-white p-16 opacity-50 blur-[256px] sm:p-20 md:p-40 xl:p-64"
    >
      &nbsp;
    </div>

    <div class="py-6"></div>

    <div class="flex flex-col gap-y-4 text-center">
      <p
        class="hero-text translate-y-16 text-4xl font-semibold opacity-0 md:text-5xl"
      >
        I Code and Design,
      </p><p
        class="hero-text translate-y-16 text-4xl font-semibold opacity-0 md:text-5xl"
      >
        And I Write some things.
      </p>
    </div>

    <p
      id="s1-description"
      class="mt-8 max-w-[35rem] text-balance text-center text-sm text-neutral-400 opacity-0 md:text-base"
    >
      Hello, I'm SongHun Cho and this is my personal portfolio website. I'm into
      web development, algorithmns, and much more.
    </p>

    <div class="py-6 md:py-16"></div>

    <section class="relative flex flex-row items-center justify-center gap-10">
      <article
        class="project-container relative h-[21rem] w-64 rounded-xl bg-black p-4"
      >
      </article>
      <article
        class="project-container -mb-20 h-80 w-96 rounded-xl bg-black p-4"
      >
      </article>
      <article class="project-container h-72 w-56 rounded-xl bg-black p-4">
      </article>
    </section>
  </section>

  <Section
    class="relative flex flex-col items-center justify-center pb-20 pt-24 md:pt-40"
  >
    <Intro client:load />
    <!-- <div class="py-8"></div> -->
  </Section>

  <Section class="flex min-h-[80vh] flex-col py-32">
    <p class="text-3xl font-medium md:text-4xl">Skills</p>
    <p class="mt-6 text-sm text-neutral-400 md:text-base">
      I can't get enough of these. I use them in almost all of my projects.
    </p>
    <div class="mt-8 flex flex-row items-center justify-stretch gap-8"></div>
  </Section>

  <Section class="flex min-h-[50vh] flex-col py-32">
    <p class="text-3xl font-medium md:text-4xl">Careers</p>
    <p
      class="mt-6 max-w-2xl text-balance text-sm text-neutral-400 md:text-base"
    >
      I haven't even graduated high school yet but I do want to participate in
      some competitions. (but I'm not good enough to win a prize)
    </p>
  </Section>
</Layout>
