<div
  class="sec relative h-[70vh] w-full cursor-pointer rounded-3xl bg-[url('/images/test.jpg')] bg-center text-white shadow-inner"
>
  <div
    class="absolute bottom-4 flex w-full flex-row items-center justify-between px-6"
  >
    <p class="text-3xl font-medium">To be added</p>
    <p class="text-3xl font-medium">See More</p>
  </div>
</div>
