---
interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<section
  class="px-12 md:px-0 py-16 flex flex-row items-center justify-center gap-x-16 flex-wrap gap-y-8"
>
  <div class="relative flex flex-row items-baseline -space-x-20">
    <img
      src="/images/diato.png"
      alt="Diato image"
      class="z-10 w-36 md:w-64 object-contain"
    />
    <img
      src="/images/diato.png"
      alt="Diato image"
      class="z-10 w-44 md:w-72 object-contain"
    />
  </div>
  <div class="flex flex-col py-6 gap-y-10">
    <header class="py-2">
      <p class="text-4xl md:text-5xl font-bold capitalize">{title}</p>
      <div class="py-2"></div>
      <p class="text-base text-neutral-500">
        {description}
      </p>
    </header>
    <div class="flex flex-col gap-y-3">
      <svg
        width="512"
        height="512"
        viewBox="0 0 512 512"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        class="w-6 h-6"
      >
        <rect
          id="r4"
          width="512"
          height="512"
          x="0"
          y="0"
          rx="128"
          fill="#252525"
          stroke="#FFFFFF"
          stroke-width="0"
          stroke-opacity="100%"
          paint-order="stroke"></rect><clipPath id="clip"
          ><use xlink:href="#r4"></use></clipPath
        ><defs
          ><linearGradient
            id="r5"
            gradientUnits="userSpaceOnUse"
            gradientTransform="rotate(45)"
            style="transform-origin: center center 0px;"
            ><stop stop-color="#252525"></stop><stop
              offset="1"
              stop-color="#F12711"></stop></linearGradient
          ><radialGradient
            id="r6"
            cx="0"
            cy="0"
            r="1"
            gradientUnits="userSpaceOnUse"
            gradientTransform="translate(256) rotate(90) scale(512)"
            ><stop stop-color="white"></stop><stop
              offset="1"
              stop-color="white"
              stop-opacity="0"></stop></radialGradient
          ></defs
        ><svg
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          width="352"
          height="352"
          x="80"
          y="80"
          style="color: rgb(139, 139, 139);"
          alignment-baseline="middle"
          ><path
            d="m9.25 1.75-6.5 6.5h4v6l6.5-6.5h-4v-6Z"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path></svg
        ></svg
      >
      <p class="text-xl font-semibold">
        Seperate your interests by day of the week
      </p>
      <p class="text-sm text-neutral-500">
        Focus on what you need to do. Don't get disattracted.
      </p>
    </div>
    <div class="flex flex-col gap-y-3">
      <svg
        width="512"
        height="512"
        viewBox="0 0 512 512"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        class="w-6 h-6"
        ><rect
          id="r4"
          width="512"
          height="512"
          x="0"
          y="0"
          rx="128"
          fill="#252525"
          stroke="#FFFFFF"
          stroke-width="0"
          stroke-opacity="100%"
          paint-order="stroke"></rect><clipPath id="clip"
          ><use xlink:href="#r4"></use></clipPath
        ><defs
          ><linearGradient
            id="r5"
            gradientUnits="userSpaceOnUse"
            gradientTransform="rotate(45)"
            style="transform-origin: center center 0px;"
            ><stop stop-color="#252525"></stop><stop
              offset="1"
              stop-color="#F12711"></stop></linearGradient
          ><radialGradient
            id="r6"
            cx="0"
            cy="0"
            r="1"
            gradientUnits="userSpaceOnUse"
            gradientTransform="translate(256) rotate(90) scale(512)"
            ><stop stop-color="white"></stop><stop
              offset="1"
              stop-color="white"
              stop-opacity="0"></stop></radialGradient
          ></defs
        ><svg
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          width="352"
          height="352"
          x="80"
          y="80"
          style="color: rgb(139, 139, 139);"
          alignment-baseline="middle"
          ><path
            d="m10 5.754-3.984 3.68a1.536 1.536 0 0 0 0 2.294 1.86 1.86 0 0 0 2.482 0L13.25 7.25c1.371-1.267 1.343-3.283-.028-4.55s-3.594-1.267-4.965 0L3.292 7.287c-2.056 1.9-2.056 4.981 0 6.881l.089.082"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path></svg
        ></svg
      >
      <p class="text-xl font-semibold">Share with your friends</p>
      <p class="text-sm text-neutral-500">
        Help your friends and grow your friendships.
      </p>
    </div>
    <div></div>
    <div class="flex flex-row items-center gap-x-4">
      <p class="text-neutral-500 text-xs">Made with</p>
      <img
        src="/images/nextjs-logo.png"
        alt="Nextjs"
        class="object-contain w-3.5 h-3.5 opacity-50"
      />
      <img
        src="/images/tw-logo.png"
        alt="TailwindCSS"
        class="object-contain w-3.5 h-3.5 opacity-50"
      />
    </div>
  </div>
</section>
