<div
  class="sec shadow-inner cursor-pointer relative rounded-3xl h-[70vh] w-full bg-[url('/images/test.jpg')] bg-center"
>
  <div
    class="absolute w-full bottom-4 px-6 flex flex-row items-center justify-between"
  >
    <p class="text-3xl font-medium">To be added</p>
    <p class="text-3xl font-medium">See More</p>
  </div>
</div>
