<header class="absolute left-0 right-0 top-0 flex flex-col items-center">
  <div class="flex w-full max-w-5xl flex-row items-center justify-between p-4">
    <a
      href="/"
      class="flex cursor-pointer flex-row items-center gap-x-1.5 text-base font-medium"
    >
      <img
        src="/favicon.jpg"
        alt=""
        class="aspect-square h-[1.4rem] rounded-lg"
      />
      Hunna</a
    >
  </div>
</header>
