<header class="absolute left-0 right-0 top-0 flex flex-col items-center">
  <div
    class="flex w-full max-w-4xl flex-row items-center justify-between px-4 py-2.5"
  >
    <a href="/" class="font-medium">Hunna</a>
  </div>
</header>
