<header
  id="header"
  class="absolute top-0 z-50 flex w-full flex-row items-center justify-between self-center overflow-hidden px-10 py-8"
>
  <a href="/" class="text-lg">Songhun Cho</a>
  <button
    type="button"
    id="header-button"
    class="fixed top-8 right-10 z-50 rounded-full transition duration-200 hover:scale-110"
    aria-label="header-button"
  >
    <svg
      class="h-8 w-8 stroke-white"
      viewBox="0 0 761 293"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        class="transform transition duration-200"
        id="header-button-icon-up"
        d="M72 211L501 211"
        stroke-width="26"
        stroke-linecap="round"></path>
      <path
        class="transform transition duration-200"
        id="header-button-icon-down"
        d="M229 80L658 80"
        stroke-width="26"
        stroke-linecap="round"></path>
    </svg></button
  >

  <div
    class="fixed top-0 right-0 z-40 hidden h-screen w-[45vw] translate-x-full flex-col items-center justify-between bg-neutral-900 p-28 transition duration-500 md:flex md:w-[65vw] lg:w-[55vw] xl:w-[45vw]"
    id="header-content"
  >
    <div class="w-full">
      <p class="text-lg text-neutral-400">Menus</p>
      <div class="py-3"></div>
      <div class="flex flex-col gap-y-6">
        <a
          href="/"
          class="text-4xl font-medium decoration-neutral-300 decoration-[1.5px] underline-offset-2 hover:underline"
          >Home</a
        >
        <a
          href="/work"
          class="text-4xl font-medium decoration-neutral-300 decoration-[1.5px] underline-offset-2 hover:underline"
          >Work</a
        >
        <a
          href="https://blog.sujang.xyz"
          target="_blank"
          class="text-4xl font-medium decoration-neutral-300 decoration-[1.5px] underline-offset-2 hover:underline"
          >Blog</a
        >
        <a
          href="/404"
          class="text-4xl font-medium decoration-neutral-300 decoration-[1.5px] underline-offset-2 hover:underline"
          >Rickroll</a
        >
      </div>
    </div>
    <div class="w-full">
      <p class="text-base text-neutral-400">Links</p>
      <div class="py-1"></div>
      <div class="flex flex-row items-center gap-x-5">
        <a
          href="https://github.com/sujang958"
          target="_blank"
          class="text-lg font-medium decoration-neutral-300 decoration-[1.5px] underline-offset-2 hover:underline"
          >Github</a
        >
        <a
          href="https://twitter.com/SonghunCho"
          target="_blank"
          class="text-lg font-medium decoration-neutral-300 decoration-[1.5px] underline-offset-2 hover:underline"
          >Twitter</a
        >
      </div>
    </div>
  </div>
</header>

<style>
  body {
    overflow-x: hidden;
  }
</style>
<script>
  let headerShown: boolean = false

  const headerContent = document.getElementById("header-content") as HTMLElement
  const headerButton = document.getElementById("header-button") as HTMLElement

  const headerButtonIconUpperPath = document.querySelector(
    "#header-button-icon-up"
  ) as SVGPathElement
  const headerButtonIconBottomPath = document.querySelector(
    "#header-button-icon-down"
  ) as SVGPathElement

  headerButton.addEventListener("click", () => {
    if (headerShown) hideHeader()
    else showHeader()
  })

  const showHeader = () => {
    headerContent.classList.remove("translate-x-full")
    addAnimationsToIcon()

    headerShown = true
  }

  const hideHeader = () => {
    headerContent.classList.add("translate-x-full")
    removeAnimationsFromIcon()

    headerShown = false
  }

  const addAnimationsToIcon = () => {
    headerButtonIconUpperPath.classList.add(
      "-rotate-45",
      "translate-y-48",
      "-translate-x-24"
    )
    headerButtonIconBottomPath.classList.add("rotate-45", "-translate-y-52")
  }

  const removeAnimationsFromIcon = () => {
    headerButtonIconUpperPath.classList.remove(
      "-rotate-45",
      "translate-y-48",
      "-translate-x-24"
    )
    headerButtonIconBottomPath.classList.remove("rotate-45", "-translate-y-52")
  }
</script>
