<header class="absolute left-0 right-0 top-0 flex flex-col items-center">
  <div
    class="flex w-full max-w-5xl flex-row items-center justify-between px-4 py-3"
  >
    <a href="/" class="cursor-pointer font-medium">Hunna</a>
  </div>
</header>
