<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <!-- <link rel="preconnect" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Portfolio of Songhun Cho</title>
  </head>
  <body class="bg-not-black text-white font-poppins">
    <div class="w-full min-h-screen flex flex-col">
      <header
        class="fixed top-0 self-center max-w-5xl w-full flex flex-row items-center justify-between px-4 py-8"
      >
        <div class=""></div>
        <div class="flex flex-row items-center space-x-5 bg-white/10 px-5 py-2 rounded-3xl">
          <div class="group cursor-pointer">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="w-6 h-6 duration-300 transition group-hover:stroke-white/50"
              stroke-width="1.5"
              stroke="white"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"
              ></path>
            </svg>
          </div>
          <div class="group cursor-pointer">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="w-6 h-6 duration-300 transition group-hover:stroke-white/50"
              stroke-width="1.5"
              stroke="white"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
            </svg>
          </div>
        </div>
      </header>
      <slot />
      <footer
        class="self-center flex flex-col max-w-5xl w-full py-16 px-12 h-[60vh]"
      >
        <div
          class="flex flex-col justify-between w-full h-full bg-black/30 rounded-3xl p-10"
        >
          <div class="">
            <p class="text-7xl font-bold">Contact Me</p>
            <div class="py-1"></div>
            <a
              href="mailto:sujang958@icloud.com"
              class="text-3xl hover:underline">{">"} sujang958@icloud.com</a
            >
          </div>
          <div class="flex flex-row items-center justify-between">
            <p class="text-base text-white/40">
              © Songhun Cho, All rights reserved
            </p>
            <div class="cursor-pointer">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                class="fill-white/40 trnasition duration-500 hover:fill-white/70"
                viewBox="0 0 24 24"
                ><path
                  d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
                ></path>
              </svg>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
