---
import Footer from "@/components/Footer.astro"
import Header from "@/components/Header.astro"

interface Props {
  title?: string
}

const { title = "Hunna" } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-neutral-950 font-inter text-white">
    <Header />
    <div id="main" class="min-h-screen w-full overflow-clip">
      <slot />
    </div>
    <Footer />
  </body>
</html>

<script>
  // import LocomotiveScroll from "locomotive-scroll"

  // const scroll = new LocomotiveScroll({
  //   el: document.getElementById("main")!,
  //   smooth: true,
  // })

  import Lenis from "lenis"

  const lenis = new Lenis()

  lenis.on("scroll", (e: any) => {
    console.log(e)
  })

  function raf(time: any) {
    lenis.raf(time)
    requestAnimationFrame(raf)
  }

  requestAnimationFrame(raf)

  // https://github.com/darkroomengineering/lenis?tab=readme-ov-file#recommended-css
</script>

<style is:global>
  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #797979 #ffffff00;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 24px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff00;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 10px;
    border: 3px solid #ffffff00;
  }
</style>
