@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap');

body {
  font-display: swap;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #1F2937;
}

.fade-in {
  animation: FadeIn 1s;
}

@keyframes FadeIn {
  0% { opacity: 0%; }
  100% { opacity: 100%; };
}